<img [src]="elem.img" alt="" class="author__img">
<p class="authors__name">{{elem.name}}</p>
<p class="authors__profession">{{elem.profession}}</p>
<div class="authors__logo">
    <a href="https://www.facebook.com/">
        <img src="../../../assets/img/authors/facebook-dark.png" alt="facebook logo" loading="lazy">
    </a>
    <a href="https://twitter.com/">
        <img src="../../../assets/img/authors/twitter-dark.png" alt="twitter logo" loading="lazy">
    </a>
    <a href="https://www.instagram.com/">
        <img src="../../../assets/img/authors/instagram-dark.png" alt="instagram logo" loading="lazy">
    </a>
    <a href="https://am.linkedin.com/?original_referer=https%3A%2F%2Fwww.google.com%2F">
        <img src="../../../assets/img/authors/linkedin-dark.png" alt="linkedin logo" loading="lazy">
    </a>
</div>