<header>
    <div class="header__body">
        <div class="container-53">
            <h1>Contact Us</h1>
            <h2 class="header__title">Let’s Start a Conversation</h2>
            <p class="header__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
            </p>
        </div>
    </div>
</header>
<section class="working-hours--contact">
    <div class="container-53">
        <div class="working-hours--contact__body">
            <div class="container-82">
                <div class="working-hours">
                    <h2 class="contact__title">Working hours</h2>
                    <div class="divider-line"></div>
                    <p class="working__days">Monday To Friday</p>
                    <p class="working__hour">9:00 AM to 8:00 PM </p>
                    <p class="support-team">Our Support Team is available 24/7</p>
                </div>
                <div class="contact-us">
                    <h2 class="contact__title">Contact Us</h2>
                    <div class="divider-line"></div>
                    <p class="contact-us__phone-number">020 7993 2905</p>
                    <p class="contact-us__email">hello@finsweet.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="message-sending">
    <div class="container-53">
        <form>
            <input type="text" placeholder="Full Name" class="message__input">
            <input type="email" placeholder="Your Email" class="message__input">
            <select name="query">
                <option hidden>Query Related</option>
            </select>
            <textarea type="text" placeholder="Message" class="message__input"></textarea>
            <button class="message__button">Send Message</button>
        </form>
    </div>
</section>