.about__item {
    padding: 64px;
    background-color: #fff;
    width: 55%;
}
.about__title {
    color: var(--black);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.about__subtitle {
    color: var(--black);
    font-family: Sen;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%;
    letter-spacing: -2px;
}
.about__text {
    color: var(--dark-grey);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 42%;
    line-height: 175%;
    padding-top: 100px;
    margin-right: 29px;

}
.about__container {
    justify-content: flex-end;
}
.about-us__body {
    display: flex;
    justify-content: space-between;
    width: 89%;
}
/* --------------------- */
.result {
    /* background-image: url(../img/about-us/01.png); */
    background-image: url(../../../assets/img/about-us/01.png);
    background-repeat: no-repeat;
    padding: 265px 29px 0 0;
    margin-top: -45px;
}
.result__block {
    display: flex;
    justify-content: space-between;
    background-color: var(--yellow);
    padding: 32px 48px;    
    width: 65%;
}
.result__container {
    width: 77.5%;
    margin: auto;
}
.result__num {
    color: var(--black);
    font-family: Sen;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 114.286%;
    letter-spacing: -2px;
}
.result__name {
    color: var(--black, #232536);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175% ;
}
/* ---------------------------------- */
.design__element-1 {
    width: 32%;
    height: 23px;
    background: var(--purple);
}
.design__element-2 {
    width: 57%;
    height: 23px;
    background: var(--yellow);
}
.design__container {
    width: 77.5%;
    margin: auto;
    display: flex;
}
/* -------------------------------- */
.mv__title {
    color: var(--black);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.mv__subtitle {
    color: var(--black);
    font-family: Sen;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.857%;
    letter-spacing: -1px;
    max-width: 481px;
    margin: 24px 0 16px;
}
.mv__text {
    color: var(--medium-grey, #6D6E76);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:  175%;
    max-width: 516px;
}
.mision-vision__body {
    display: flex;
    width: 77.5%;
    margin: auto;
    padding: 128px 0 64px;
}
.mision__block {
    margin-right: 20px;
}
.mv__container {
    background: var(--lavender);
}
.mision-vision {
    margin-bottom: 128px;
}
/* ---------------------- */
.team {
    margin-bottom: 128px;
}
.team__item-img {
    height: 480px;
    /* width: 668px; */
    width: 54%;
    margin-left: 15px;
}
.team__img {
    width: 100%;
}
.team__title {
    color: #232536;
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%;
    letter-spacing: -2px;
    margin-top: 80px;
}
.team__subtitle {
    max-width: 519px;
    color: var(--black);
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height:  133.333%;
    margin: 16px 0;
}
.team__text {
    max-width: 519px;
    color: var(--black);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:  175% ;
}
/* ------------------------- */
.started-story {
    margin-bottom: 91px;
}
.started-story__title {
    color: #232536;
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333% ;
    letter-spacing: -2px;
    max-width: 401px;
}
.started-story__subtitle {
    color: var(--black);
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%;
    max-width: 511px;
    margin: 16px 0;
}
.started-story__text {
    max-width: 519px;
    color: var(--black);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175% ;
}
.started-story__item-img {
    width: 49%;
    max-height: 480px;
    margin-right: 15px;
}
.started-story__item {
    padding-top: 80px;

}
.started-story__img{
    width: 100%;
}
/* ---------------------- */
.author__cont-second {
    margin-top: 32px;
    margin-bottom: 32px;
}
/* ----------- */
.about-us__join {
    margin-top: 128px;
}



