<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.title }}</td>
    </ng-container>
  
    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef>Img</th>
      <td mat-cell *matCellDef="let row">
        <img [src]="row.img" alt="category image">
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let row">{{ row.description }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="edit(row.id)">
            <mat-icon>edit</mat-icon>
          </button>
          </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="delete(row.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<button mat-icon-button class="add-btn" (click)="add()">
  <mat-icon>add</mat-icon>
</button>

<app-category-form *ngIf="showForm" (sendShow)="close($event)" [data]="sendData"></app-category-form>