@media screen and (max-width: 1100px){
    .rec__name {
        margin: 10px 0;
        font-size: 24px;
    }
    .rec__text {
        font-size: 14px;
    }
    .cont-for-newsletter {
        display: block;
    }
    .cont-for-newsletter p {
        max-width: 100%;
        font-size: 23px;
        margin-bottom: 7px;
    }
}
@media screen and (max-width: 800px) {
    .rec__name {
        margin: 7px 0;
        font-size: 18px;
    }
    .rec__text {
        font-size: 12px;
    }
    .blog__img-container {
        background-size: contain;
        height: 309px;
    }
    .toolbar__nav {
        display: none;
    }
    .blog__name {
        font-size: 35px;
    }
    .blog__subtitle {
        font-size: 28px;
    }
    .blog__text {
        font-size: 13px;
    }
    .blog__list {
        font-size: 20px;
    }
    .join .container {
        display: block;
    }
    footer .container {
        display: block;
    }
}
@media screen and (max-width: 665px){
    .rec .container {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .rec__item {
        width: 45%;
    }
}
@media screen and (max-width: 510px) {
    .blog__name {
        font-size: 23px;
    }
    .author__name {
        font-size: 24px;
        line-height: 107.857%;
    }
    .blog__img-container {
        height: 202px;
    }
    .blog__img-container {
        margin-bottom: 0;
    }
    .blog__subtitle {
        font-size: 24px;
    }
    .blog__text {
        font-size: 11px;
    }
    .blog__list {
        font-size: 14px;
    }
    .rec__name {
        font-size: 15px;
    }
    .rec__text {
        font-size: 11px;
    }
    .join__title {
        font-size: 20px;
        line-height: 24px;
    }
    .join__text {
        max-width: 281px;
        font-size: 12px;
    }
    .join {
        margin-bottom: 100px;
    }
    .blog-post__join {
        margin-top: 30px;
    }
    .toolbar-button {
        padding: 16px 22px;
        font-size: 14px;
    }
    .cont-for-form {
        display: block;
    }
    footer button {
        margin-top: 15px;
    }
    .cont-for-newsletter input {
        width: 239px;
    }
    .cont-for-newsletter p {
        font-size: 18px;
        line-height: 30px;
    }
    .container-w-53 {
        width: 69%;
    }
    .container-w-58 {
        width: 70%;
    }
}
@media screen and (max-width: 490px){
    .rec__item {
        width: 82%;
    }
}







